</section>

</body>
<script type="text/javascript" src="/scripts/eye.js"></script> 
<script type="text/javascript" src="/scripts/verify.js"></script><!-- eye JS file for showing/hiding password -->
</html>