<%- include ("../partials/mainHeader") %>
<div class="wrapper">
    <div id="profilePage" class="container target">
        <div class="col-sm-10" style="" contenteditable="false">
            <div class="jumbotron">
                <h1 class="display-4">Scooby Who</h1>
                <p class="lead">A safe place to buy and sell dogs in Ireland.</p>
                <hr class="my-4">
                <p>Created by Adolfo Carvalho, Jonathan Flanagan and Neil Fitzgerald as part of our NCI 3rd year team project for Computing.
                    Our proposal was to create a web application that will ensure that customers who are looking to buy a dog or puppy, 
                    are buying from a breeder who is not only complying with but exceeding the breeding rules in Ireland, by setting out strict criteria for advertising. 
                    To do this, we created a website where consumers can trust the Dog Breeders they are buying their dogs from.
                    All breeders are vetted and registered before being able to sell on our platform, providing you the security and knowledge that the new
                    addition you are making to your family came from a place of love and care.
                </p>
            </div>

            <div class="jumbotron">
                <h1 class="display-4">Contact Details</h1>
                <p class="lead">If you wish to contact us please do so by clicking the link below, your native email app will open where you can send us an email</p>
                <hr class="my-4">
                <a class="btn btn-success btn-lg" href="mailto:scooby.who.project@gmail.com?subject=Contact">Contact Us</a>
            </div>
        </div>
     </div>   
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>