<%- include ("../partials/mainHeader") %>

<form class="form1" id="form1" name="form" accept-charset="UTF-8" action='/newUser' method='post'>

    <button class="submit" type="submit">Submit</button>
</form>

<%- include ("../partials/mainFooter") %>