<%- include ("../partials/updateProfileHeader") %>


    <form class="form edit_profile" id="form1" name="editProfile" accept-charset="UTF-8" action='/advertDeleted/<%= advert.id %>' method='post'>
        <h2><%= user.username %></h2>
        <p>Are you sure you want to delete this Advert?</p>
        <label>
            <i class="fa fa-user"></i>
            <input type="password" name="password" placeholder="Current Password" maxlength="35">
        </label>
        <button class="button btn-danger btn-lg" type="submit">Yes</button>
        <br>
        <br>
        <a href="/profile" class="button btn-success btn-lg">No</a>
    </form>
    </section>

    <% if (message == 'wrongInput') { %>
        <script>
         swal(
            'Oh no!',
            'Password Input Error, try again',
            'error'
        )
       </script>
       <% } %>
 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>