<%- include ("../partials/mainHeader") %>
<!-- Main Bar with Title & Sign-In , Sign-Up Banner(Similar to github and adverts??) if signed in then a profile badge with dropdown
is here instead}-->
<div class="topnav">
    <h2>Scooby Sales</h2>
    <a href="/login">Sign-In</a>
    <a href="/sign_up">Sign-Up</a>
  </div>
  
  <!-- Secondary Bar with actions {Filter By Button}-->
<!-- Appearing third bar if Filter By is chosen with options, breed, price, newest(default), Location -->

  <!-- Main section with each add listed (Picture, Breed, Price, Location, Upload date)-->
  <div class="content">
    <h2>Main adds will go here</h2>
    <p>Colours need to be decided, the header will have logo and name with sign-in/up button (if signed in a profile badge instead</p>
    <p>There will be a secondary menu bar with a filter section for breed, price, newest(default), Location</p>  
</div>
  
  <!-- Page footer with usual extras (Contact us, Sitemap, terms and conditions etc , will be moved to partials eventually... -->
  <div class="footer">
    <p>Footer</p>
  </div>
<%- include ("../partials/mainFooter") %>