<%- include ("../partials/mainHeader") %>
<form class="form sign_in" id="form1" name="loginForm" accept-charset="UTF-8" action='/log' method='post'>
    
    <button class="submit" type="submit">Submit</button>
</form>

<%- include ("../partials/mainFooter") %>